# Anomaly Detection Using Unsupervised Learning

The goal of this project is to find out which days the stock market data for Apple behaved strangely. In order to conduct this research I utilized data from the yahoo finance API (https://pypi.org/project/yfinance/Links to an external site). Specifically, the market data for Apple during the time period 03/24/2021 to 03/24/2023. The columns choosen for analysis are Open (the price a stock trades at during the day), High (the highest price a stock trades at during the day), Low (the lowest price a stock trades at during the day), Close (the closing price of the stock), Adj Close (the closing price after adjustments for all aplicable splits and dividend distributions), and Volume (the number of shares of a security traded during a given period of time). Given my knowledge of the events in the past two years my hypothesis is that the anomolies will occur during the early pandemic era of Jan/March 2021 or during the slight stock market crash in June/July 2022.

In [1]:
# Import yahoo finance 
import yfinance as yf
import pandas as pd

# Download the market data from apple over the past two years
aapl_data = yf.download("AAPL", start="2021-03-24", end="2023-03-24")

aapl_data

# Turn the data into a dataframe
aapl_data = pd.DataFrame(aapl_data)

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-03-24,122.820000,122.900002,120.070000,120.089996,118.661629,88530500
2021-03-25,119.540001,121.660004,119.000000,120.589996,119.155693,98844700
2021-03-26,120.349998,121.480003,118.919998,121.209999,119.768333,94071200
2021-03-29,121.650002,122.580002,120.730003,121.389999,119.946190,80819200
2021-03-30,120.110001,120.400002,118.860001,119.900002,118.473907,85671900
...,...,...,...,...,...,...
2023-03-17,156.080002,156.740005,154.279999,155.000000,155.000000,98862500
2023-03-20,155.070007,157.820007,154.149994,157.399994,157.399994,73641400
2023-03-21,157.320007,159.399994,156.539993,159.279999,159.279999,73938300
2023-03-22,159.300003,162.139999,157.809998,157.830002,157.830002,75701800
2023-03-23,158.830002,161.550003,157.679993,158.929993,158.929993,67622100

In [11]:
aapl_data.duplicated().sum()

0

In [2]:
# exploratory analysis 
aapl_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 504 entries, 2021-03-24 to 2023-03-23
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       504 non-null    float64
 1   High       504 non-null    float64
 2   Low        504 non-null    float64
 3   Close      504 non-null    float64
 4   Adj Close  504 non-null    float64
 5   Volume     504 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 27.6 KB

## Selecting Features

I selected five features - Open, High, Low, Adj Close, and Volume. 

Open - This is the value that the stock opens with. It is an important measure because with the adjusted close value, it can be used to mark the change in the stock in 24/h. 

High - A value that represents when the stock peaked during the day. This can be an important signifier if there are correlations between time and peak price. 

Low - The feature signifies when the value of the stock was at its lowest during the day. It can be used to measure the discrepencies in value change. 

Adj Close - Adjusted close is the value of the stock when the markets finish with an added adjustment for applicable adjustments. I found this to be the more accurate value when compared to just "Close". 

Volume - This represents how many shares were traded during the day. It is often used to signify the "popularity" of the company as well as its overall health.

In [3]:
# Establishing features
features = aapl_data[["Open", "High", "Low", "Adj Close", "Volume"]]
features.head()

                  Open        High         Low   Adj Close    Volume
Date
2021-03-24  122.820000  122.900002  120.070000  118.661629  88530500
2021-03-25  119.540001  121.660004  119.000000  119.155693  98844700
2021-03-26  120.349998  121.480003  118.919998  119.768333  94071200
2021-03-29  121.650002  122.580002  120.730003  119.946190  80819200
2021-03-30  120.110001  120.400002  118.860001  118.473907  85671900

In [4]:
# Transform all points to floats 
def clean(s):
    converted = float(s)
    return converted

# Drop the null values and then independently add each to the list.
features = features.dropna()
print (features["Open"].tolist())

features["Open"] = features["Open"].apply(clean)
features["High"] = features["High"].apply(clean)
features["Low"] = features["Low"].apply(clean)
features["Adj Close"] = features["Adj Close"].apply(clean)
features["Volume"] = features["Volume"].apply(clean)

features.head()

[122.81999969482422, 119.54000091552734, 120.3499984741211, 121.6500015258789, 120.11000061035156, 121.6500015258789, 123.66000366210938, 123.87000274658203, 126.5, 125.83000183105469, 128.9499969482422, 129.8000030517578, 132.52000427246094, 132.44000244140625, 134.94000244140625, 133.82000732421875, 134.3000030517578, 133.50999450683594, 135.02000427246094, 132.36000061035156, 133.0399932861328, 132.16000366210938, 134.8300018310547, 135.00999450683594, 134.30999755859375, 136.47000122070312, 131.77999877929688, 132.0399932861328, 131.19000244140625, 129.1999969482422, 127.88999938964844, 130.85000610351562, 129.41000366210938, 123.5, 123.4000015258789, 124.58000183105469, 126.25, 126.81999969482422, 126.55999755859375, 123.16000366210938, 125.2300033569336, 127.81999969482422, 126.01000213623047, 127.81999969482422, 126.95999908447266, 126.44000244140625, 125.56999969482422, 125.08000183105469, 124.27999877929688, 124.68000030517578, 124.06999969482422, 126.16999816894531, 126.5999984741211, 127.20999908447266, 127.0199966430664, 126.52999877929688, 127.81999969482422, 129.94000244140625, 130.3699951171875, 129.8000030517578, 130.7100067138672, 130.3000030517578, 132.1300048828125, 133.77000427246094, 134.4499969482422, 133.4600067138672, 133.41000366210938, 134.8000030517578, 136.1699981689453, 136.60000610351562, 137.89999389648438, 140.07000732421875, 143.5399932861328, 141.5800018310547, 142.75, 146.2100067138672, 144.02999877929688, 148.10000610351562, 149.24000549316406, 148.4600067138672, 143.75, 143.4600067138672, 145.52999877929688, 145.94000244140625, 147.5500030517578, 148.27000427246094, 149.1199951171875, 144.80999755859375, 144.69000244140625, 144.3800048828125, 146.36000061035156, 145.80999755859375, 147.27000427246094, 146.97999572753906, 146.35000610351562, 146.1999969482422, 146.44000244140625, 146.0500030517578, 146.19000244140625, 148.97000122070312, 148.5399932861328, 150.22999572753906, 149.8000030517578, 145.02999877929688, 147.44000244140625, 148.30999755859375, 149.4499969482422, 149.80999755859375, 148.35000610351562, 147.47999572753906, 149.0, 152.66000366210938, 152.8300018310547, 153.8699951171875, 153.75999450683594, 154.97000122070312, 156.97999572753906, 155.49000549316406, 155.0, 150.6300048828125, 150.35000610351562, 148.55999755859375, 148.44000244140625, 148.82000732421875, 143.8000030517578, 143.92999267578125, 144.4499969482422, 146.64999389648438, 145.66000366210938, 145.47000122070312, 143.25, 142.47000122070312, 143.66000366210938, 141.89999389648438, 141.75999450683594, 139.49000549316406, 139.47000122070312, 143.05999755859375, 144.02999877929688, 142.27000427246094, 143.22999572753906, 141.24000549316406, 142.11000061035156, 143.77000427246094, 143.4499969482422, 147.00999450683594, 148.6999969482422, 148.80999755859375, 149.69000244140625, 148.67999267578125, 149.3300018310547, 149.36000061035156, 149.82000732421875, 147.22000122070312, 148.99000549316406, 148.66000366210938, 150.38999938964844, 151.5800018310547, 151.88999938964844, 151.41000366210938, 150.1999969482422, 150.02000427246094, 148.9600067138672, 148.42999267578125, 150.3699951171875, 149.94000244140625, 151.0, 153.7100067138672, 157.64999389648438, 161.67999267578125, 161.1199951171875, 160.75, 159.57000732421875, 159.3699951171875, 159.99000549316406, 167.47999572753906, 158.74000549316406, 164.02000427246094, 164.2899932861328, 169.0800018310547, 172.1300048828125, 174.91000366210938, 175.2100067138672, 181.1199951171875, 175.25, 175.11000061035156, 179.27999877929688, 169.92999267578125, 168.27999877929688, 171.55999755859375, 173.0399932861328, 175.85000610351562, 177.08999633789062, 180.16000366210938, 179.3300018310547, 179.47000122070312, 178.08999633789062, 177.8300018310547, 182.6300048828125, 179.61000061035156, 172.6999969482422, 172.88999938964844, 169.0800018310547, 172.32000732421875, 176.1199951171875, 175.77999877929688, 171.33999633789062, 171.50999450683594, 170.0, 166.97999572753906, 164.4199981689453, 160.02000427246094, 158.97999572753906, 163.5, 162.4499969482422, 165.7100067138672, 170.16000366210938, 174.00999450683594, 174.75, 174.47999572753906, 171.67999267578125, 172.86000061035156, 171.72999572753906, 176.0500030517578, 174.13999938964844, 172.3300018310547, 167.3699951171875, 170.97000122070312, 171.85000610351562, 171.02999877929688, 169.82000732421875, 164.97999572753906, 165.5399932861328, 152.5800018310547, 163.83999633789062, 163.05999755859375, 164.6999969482422, 164.38999938964844, 168.47000122070312, 164.49000549316406, 163.36000061035156, 158.82000732421875, 161.47999572753906, 160.1999969482422, 158.92999267578125, 151.4499969482422, 150.89999389648438, 157.0500030517578, 158.61000061035156, 160.50999450683594, 163.50999450683594, 165.50999450683594, 167.99000549316406, 171.05999755859375, 173.8800048828125, 172.1699981689453, 176.69000244140625, 178.5500030517578, 177.83999633789062, 174.02999877929688, 174.57000732421875, 177.5, 172.36000061035156, 171.16000366210938, 171.77999877929688, 168.7100067138672, 168.02000427246094, 167.38999938964844, 170.6199951171875, 163.9199981689453, 165.02000427246094, 168.75999450683594, 168.91000366210938, 166.4600067138672, 161.1199951171875, 162.25, 155.91000366210938, 159.25, 161.83999633789062, 156.7100067138672, 158.14999389648438, 159.6699981689453, 163.85000610351562, 156.00999450683594, 154.92999267578125, 155.52000427246094, 153.5, 142.77000427246094, 144.58999633789062, 145.5500030517578, 148.86000061035156, 146.85000610351562, 139.8800048828125, 139.08999633789062, 137.7899932861328, 140.80999755859375, 138.42999267578125, 137.38999938964844, 145.38999938964844, 149.07000732421875, 149.89999389648438, 147.8300018310547, 146.89999389648438, 147.02999877929688, 144.35000610351562, 148.5800018310547, 147.0800018310547, 140.27999877929688, 132.8699951171875, 133.1300048828125, 134.2899932861328, 132.0800018310547, 130.07000732421875, 133.4199981689453, 134.7899932861328, 136.82000732421875, 139.89999389648438, 142.6999969482422, 142.1300048828125, 137.4600067138672, 137.25, 136.0399932861328, 137.77000427246094, 141.35000610351562, 143.2899932861328, 145.25999450683594, 145.6699981689453, 145.75999450683594, 142.99000549316406, 144.0800018310547, 149.77999877929688, 150.74000549316406, 147.9199981689453, 151.1199951171875, 154.5, 155.38999938964844, 154.00999450683594, 152.25999450683594, 152.5800018310547, 156.97999572753906, 161.24000549316406, 161.00999450683594, 160.10000610351562, 160.83999633789062, 166.00999450683594, 163.2100067138672, 166.3699951171875, 164.02000427246094, 167.67999267578125, 170.05999755859375, 169.82000732421875, 171.52000427246094, 172.77999877929688, 172.77000427246094, 173.75, 173.02999877929688, 169.69000244140625, 167.0800018310547, 167.32000732421875, 168.77999877929688, 170.57000732421875, 161.14999389648438, 162.1300048828125, 160.30999755859375, 156.63999938964844, 159.75, 156.47000122070312, 154.82000732421875, 154.63999938964844, 155.47000122070312, 159.58999633789062, 159.89999389648438, 154.7899932861328, 154.64999389648438, 151.2100067138672, 149.30999755859375, 153.39999389648438, 157.33999633789062, 152.3800048828125, 151.19000244140625, 149.66000366210938, 152.74000549316406, 147.63999938964844, 146.10000610351562, 141.27999877929688, 138.2100067138672, 145.02999877929688, 144.07000732421875, 145.80999755859375, 142.5399932861328, 140.4199981689453, 139.89999389648438, 139.1300048828125, 134.99000549316406, 144.30999755859375, 141.07000732421875, 145.49000549316406, 141.69000244140625, 143.02000427246094, 142.8699951171875, 147.19000244140625, 150.08999633789062, 150.9600067138672, 148.07000732421875, 148.1999969482422, 153.16000366210938, 155.0800018310547, 148.9499969482422, 142.05999755859375, 142.08999633789062, 137.11000061035156, 140.41000366210938, 138.5, 141.24000549316406, 145.82000732421875, 148.97000122070312, 152.22000122070312, 149.1300048828125, 146.42999267578125, 152.30999755859375, 150.16000366210938, 148.1300048828125, 149.4499969482422, 148.30999755859375, 145.13999938964844, 144.2899932861328, 141.39999389648438, 148.2100067138672, 145.9600067138672, 147.77000427246094, 147.07000732421875, 142.19000244140625, 142.36000061035156, 142.33999633789062, 142.6999969482422, 149.5, 145.35000610351562, 141.11000061035156, 136.69000244140625, 135.11000061035156, 131.38999938964844, 132.97999572753906, 134.35000610351562, 130.9199981689453, 131.3800048828125, 129.6699981689453, 127.98999786376953, 128.41000366210938, 130.27999877929688, 126.88999938964844, 127.12999725341797, 126.01000213623047, 130.47000122070312, 130.25999450683594, 131.25, 133.8800048828125, 132.02999877929688, 134.8300018310547, 136.82000732421875, 134.0800018310547, 135.27999877929688, 138.1199951171875, 140.30999755859375, 140.88999938964844, 143.1699981689453, 143.16000366210938, 144.9600067138672, 142.6999969482422, 143.97000122070312, 148.89999389648438, 148.02999877929688, 152.57000732421875, 150.63999938964844, 153.8800048828125, 153.77999877929688, 149.4600067138672, 150.9499969482422, 152.1199951171875, 153.11000061035156, 153.50999450683594, 152.35000610351562, 150.1999969482422, 148.8699951171875, 150.08999633789062, 147.11000061035156, 147.7100067138672, 147.0500030517578, 146.8300018310547, 144.3800048828125, 148.0399932861328, 153.7899932861328, 153.6999969482422, 152.80999755859375, 153.55999755859375, 150.2100067138672, 147.80999755859375, 151.27999877929688, 151.19000244140625, 152.16000366210938, 156.0800018310547, 155.07000732421875, 157.32000732421875, 159.3000030517578, 158.8300018310547]

                  Open        High         Low   Adj Close      Volume
Date
2021-03-24  122.820000  122.900002  120.070000  118.661629  88530500.0
2021-03-25  119.540001  121.660004  119.000000  119.155693  98844700.0
2021-03-26  120.349998  121.480003  118.919998  119.768333  94071200.0
2021-03-29  121.650002  122.580002  120.730003  119.946190  80819200.0
2021-03-30  120.110001  120.400002  118.860001  118.473907  85671900.0

## Scale Feaures

Scaling features is essential in unsupervised machine learning, especially for algorithms that calculate distances between data. If the data is not scaled than the feaures with higher values starts to heavily impact the calculated distances. Scaling leads to better results that are more interpretable and easier to understand. For this assignment I utilized the MinMax Scaler function because it preserves the original shape of the distribution and does not reduce the importance of outliers - which is what I am trying to find.

In [5]:
# Import MinMaxScaler
from sklearn.preprocessing import MinMaxScaler

# Scale Features
scaler = MinMaxScaler()
features_transformed = pd.DataFrame()
features_transformed[["Open", 
          "High",
          "Low",
          "Adj Close",          
          "Volume"]] = scaler.fit_transform(features[["Open", 
                                                      "High", 
                                                      "Low",
                                                      "Adj Close",
                                                      "Volume"]])
features_transformed.head()

       Open      High       Low  Adj Close    Volume
0  0.051989  0.039974  0.020080   0.003018  0.332849
1  0.000000  0.020147  0.002323   0.010959  0.397217
2  0.012839  0.017269  0.000996   0.020807  0.367427
3  0.033444  0.034858  0.031032   0.023666  0.284724
4  0.009035  0.000000  0.000000   0.000000  0.315009

## Implement Anomaly Detection

Because the data is unstructured the choosen algorithm is the KMeans function. This function is used to find groups which have not been explicitly labeled in the data. The number of clusters to form as well as the number of centroids to generate is set at 2. Whereas, the number of time the k-means algorithm is run with different centroid seeds is set to 1.

In [6]:
# Import neccesary functions
from sklearn.cluster import KMeans

# Initialize a K-means clustering object
kmeans_model = KMeans(n_clusters = 2, random_state = 0, n_init = 1)

# Transform Features
features_transformed_numpy = features_transformed.to_numpy()

kmeans_model.fit(features_transformed_numpy)

center = kmeans_model.cluster_centers_

Euclidean distance calculates the distance between two real-valued vectors, such as the ones present in the yahoo finance data set. It is often used when calculating the distance between rows of data contining numerical values. The entire data set is floating data points which is why this function was choosen.

In [7]:
from scipy.spatial.distance import euclidean

distance_from_nearest_cluster = []

for row in features_transformed_numpy:
    dist_1 = euclidean(row,center[0])
    dist_2 = euclidean(row,center[1])
    min_dist = min([dist_1,dist_2])
    distance_from_nearest_cluster.append(min_dist)

features["distance_from_nearest_cluster"] = distance_from_nearest_cluster

features.head()

,Open,High,Low,Adj Close,Volume,distance_from_nearest_cluster
Date,,,,,,
2021-03-24,122.820000,122.900002,120.070000,118.661629,88530500.0,0.653855
2021-03-25,119.540001,121.660004,119.000000,119.155693,98844700.0,0.700439
2021-03-26,120.349998,121.480003,118.919998,119.768333,94071200.0,0.687263
2021-03-29,121.650002,122.580002,120.730003,119.946190,80819200.0,0.647038
2021-03-30,120.110001,120.400002,118.860001,118.473907,85671900.0,0.704653

## Sort Anomalies

In this step I detected the top five anaomalous points by sorting the values.

In [8]:
features_sorted = features.sort_values(['distance_from_nearest_cluster'],ascending=[False])

features_sorted.head(5)

,Open,High,Low,Adj Close,Volume,distance_from_nearest_cluster
Date,,,,,,
2021-03-30,120.110001,120.400002,118.860001,118.473907,85671900.0,0.704653
2021-03-25,119.540001,121.660004,119.000000,119.155693,98844700.0,0.700439
2021-03-26,120.349998,121.480003,118.919998,119.768333,94071200.0,0.687263
2021-03-31,121.650002,123.519997,121.150002,120.697144,118323800.0,0.671351
2021-12-17,169.929993,173.470001,169.690002,169.893066,195432700.0,0.668669

In [10]:
# Convert sorted features into a data frame
features_sorted = pd.DataFrame(features_sorted)
features_sorted

,Open,High,Low,Adj Close,Volume,distance_from_nearest_cluster
Date,,,,,,
2021-03-30,120.110001,120.400002,118.860001,118.473907,85671900.0,0.704653
2021-03-25,119.540001,121.660004,119.000000,119.155693,98844700.0,0.700439
2021-03-26,120.349998,121.480003,118.919998,119.768333,94071200.0,0.687263
2021-03-31,121.650002,123.519997,121.150002,120.697144,118323800.0,0.671351
2021-12-17,169.929993,173.470001,169.690002,169.893066,195432700.0,0.668669
...,...,...,...,...,...,...
2022-01-20,166.979996,169.679993,164.179993,163.311386,91420500.0,0.043928
2022-10-07,142.539993,143.100006,139.449997,139.644775,85925600.0,0.039997
2021-10-05,139.490005,142.240005,139.360001,139.877716,80861100.0,0.037259
2021-10-13,141.240005,141.399994,139.199997,139.679474,78762700.0,0.037226
2022-10-17,141.070007,142.899994,140.270004,141.957413,85250900.0,0.033704

## Discussion

The dates with the top five anomalies for apple stock - January 17, March 25, March 26, March 30, and March 31 - are set within the same time period. This is not unexpected as Winter/Spring 2021 was when the COVID pandemic was overtaking the American economy. January 2021 was when the initial troubles started but were not fully realized. This value is higher than average when compared to the other values at that time because of this. After the middle of March the stock market was essentially in upheavel because this is when the lockdowns started. Many Americans lost their jobs and global trade came to a halt. These factors, as well as others, caused Apple's stock to plummit. However, the decline was temporary as the stimulus checks Biden created during the lockdown and the increased demand for video games, TV's, computers, etc because everybody was trapped at home allowed Apple to increase it's profits. The anomalies corraligned with my hypothesis about apple's stock prices across the past two years. They were in the exact time range of early pandemic when fear and stress heavily impacted the financial markets. In the future, I would incorporate other factors such as ev/ebitda or CF that would allow for a more detailed analysis of the companies health. Stock prices are often temporary measures and do not reveal what causes them to dip or increase like other variables found on the Balance Sheet or Income Statment. Moreover, I would try different algorithms for clustering to see if it causes different results. This is a very interesting topic. In the future I plan on putting more time into messing with the exact formulas to find one that is even more accurate.